.fondo {
	background: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	width: auto;
	height: auto;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-radius: 15px;
}
.mov {
	position: relative;
	left: 1.5em;
	margin-bottom: 1em
}
.poslogo {
	position: relative;
	bottom: 0.7em;
	color: white;
	text-align: center;
	width: 10em;
}
.descrip {
position: relative;
bottom: 4.8em;
left: 10.5em;
color: white;
text-align: center;
}
.carru {
	border: 6px solid white;
	position: relative;
	bottom: .5em;
}

img.carru2 {
	border: 3px solid gray;
	border-radius: 15px;
}
body {
	background-color: white;
}
