.fondo {
	background: url(../img/2.jpg);
	background-repeat: no-repeat;
	width: auto;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	border-radius: 15px;
}
.poslogo {
	position: relative;
	left: 7em;
	bottom: 1em;
	color: white;
	text-align: center;
}
.abajo{
	margin-top: 20em;
}